# AI Recommend

## Exercise - Retail Dataset

In [1]:
import kagglehub
# Download latest version
path = kagglehub.dataset_download("retailrocket/ecommerce-dataset")
print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/retailrocket/ecommerce-dataset?dataset_version_number=2...

100%|██████████| 291M/291M [00:10<00:00, 28.0MB/s]

Extracting files...

Path to dataset files: /home/naca11/.cache/kagglehub/datasets/retailrocket/ecommerce-dataset/versions/2

In [3]:
import os
os.listdir(path)

['item_properties_part1.csv',
 'events.csv',
 'category_tree.csv',
 'item_properties_part2.csv']

### 데이터 확인

In [ ]:
os.path.join(path, "events.csv")

In [5]:
import pandas as pd

# 파일 경로에 맞게 수정
events = pd.read_csv(os.path.join(path, "events.csv"))
item_properties1 = pd.read_csv(os.path.join(path,'item_properties_part1.csv'))
item_properties2 = pd.read_csv(os.path.join(path, "item_properties_part2.csv"))
category_tree = pd.read_csv(os.path.join(path, "category_tree.csv"))

# 데이터 크기 및 샘플 확인
print("events:", events.shape)
print(events.head())

print("item_properties1:", item_properties1.shape)
print(item_properties1.head())

print("item_properties2:", item_properties2.shape)
print(item_properties2.head())

print("category_tree:", category_tree.shape)
print(category_tree.head())

events: (2756101, 5)
       timestamp  visitorid event  itemid  transactionid
0  1433221332117     257597  view  355908            NaN
1  1433224214164     992329  view  248676            NaN
2  1433221999827     111016  view  318965            NaN
3  1433221955914     483717  view  253185            NaN
4  1433221337106     951259  view  367447            NaN
item_properties1: (10999999, 4)
       timestamp  itemid    property                            value
0  1435460400000  460429  categoryid                             1338
1  1441508400000  206783         888          1116713 960601 n277.200
2  1439089200000  395014         400  n552.000 639502 n720.000 424566
3  1431226800000   59481         790                       n15360.000
4  1431831600000  156781         917                           828513
item_properties2: (9275903, 4)
       timestamp  itemid property            value
0  1433041200000  183478      561           769062
1  1439694000000  132256      976  n26.400 1135780
2  1435460400000  420307      921  1149317 1257525
3  1431831600000  403324      917          1204143
4  1435460400000  230701      521           769062
category_tree: (1669, 2)
   categoryid  parentid
0        1016     213.0
1         809     169.0
2         570       9.0
3        1691     885.0
4         536    1691.0

In [11]:
item_properties = pd.concat([item_properties1, item_properties2], ignore_index=True)

### EDA

#### events
- 시간, 방문객ID, 이벤트, 아이템 ID, 상호작용 ID

In [12]:
events.head()

       timestamp  visitorid event  itemid  transactionid
0  1433221332117     257597  view  355908            NaN
1  1433224214164     992329  view  248676            NaN
2  1433221999827     111016  view  318965            NaN
3  1433221955914     483717  view  253185            NaN
4  1433221337106     951259  view  367447            NaN

In [14]:
category_tree

      categoryid  parentid
0           1016     213.0
1            809     169.0
2            570       9.0
3           1691     885.0
4            536    1691.0
...          ...       ...
1664          49    1125.0
1665        1112     630.0
1666        1336     745.0
1667         689     207.0
1668         761     395.0

[1669 rows x 2 columns]